.about {
    text-align: center;
    padding: 2% 0%;
    
    h1 {
        color: $purpleColor;
    }
    
    h2 {
        color: black;
        font-size: 2rem;
    }
    
    &>section {
        width: 55%;
        margin: 0 auto 5% auto;
        line-height: 2.5;

    }
}