nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1440px) {

        padding: 0% 2%;
    }
    @media screen and (max-width: 1024px) {
        position: relative;
        justify-content: space-between;
        padding: 0% 5%;
    }

    .navigation {
        align-items: center;
        width: calc(100% - 150px);
        height: 100%;
        
        @media screen and (max-width: 1024px) {
            display: flex;
            justify-content: flex-end;
        }

        &__links {
            width: calc(100% - 2% - 150px - 230px); // 100% width - 2% margin - 150px width contact - 230px logo
            margin-right: 3%;

            @media screen and (max-width: 1024px) {
                background-color: $sectionEggColor;
                position: absolute;
                top: 80px;
                right: 0;
                flex-direction: column;
                margin: 0;
                align-items: center;
                justify-content: space-evenly;
                height: 60vh;
                width: 60vw;
                box-shadow: 0px 3px 4px 2px $shadowColor;
                z-index: 1000;
            }

            a {
                margin-left: 2%;

                @media screen and (max-width: 1024px) {
                    margin: 0;
                }
            }
        }

        &__contact {
            width: 150px;

            a {
                @include urlBtn;
            }
        }
    }
}