@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./mixin/index";
@import "./vars/index";

header,
footer {
    background-color: $backgroundColor;
}

header {
    border-bottom: 1px solid #E5D9E9;
}

footer {
    border-top: 1px solid #E5D9E9;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

h1 {
    font-size: clamp(2.25rem, 1.786vw + 1.893rem, 3.5rem);
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    color: #8902ff;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 18px;
    margin: 2% 0%;

    @media screen and (max-width: 768px) {
        margin: 5% 0%;
    }
}

.top-elements-bkg,
.bottom-elements-bkg, .middle-elements-bkg {
    background-repeat: no-repeat;
    background-size: cover;
}

.top-elements-bkg {
    background-image: url("./components/bkg/bck\ top.webp");

}

.middle-elements-bkg {
    background-image: url("./components/bkg/proj-back.webp");
}

.bottom-elements-bkg {
    background-image: url("./components/bkg/bck\ down.webp");
}

.elementWidth {
    @include windowWidth();
}

@import "./components/hero/hero";
@import "./components/about/about";
@import './components/services/services';
@import "./components/footer/footer";
@import "./components/projects/projects";