@mixin windowWidth ($winwidth: 1440px, $winMarg: 0 auto) {
    max-width: $winwidth;
    min-width: 320px;
    margin: $winMarg;

    @media screen and (max-width: 768px) {
        // width: 100%;
        // margin: 0% 10%;
    }
}

@mixin btn($bkgnd: linear-gradient(90deg, #CB33F9 0%, #520199 100%)) {
    background: $bkgnd;
    color: white;
    border-radius: 8px;
    border: none;
    width: 16vw;
    min-width: 200px;
    height: 53px;
    font-size: 24px;
}

@mixin urlBtn($fontSize:clamp(1.125rem, 0.179vw + 1.089rem, 1.25rem), $padding: 2% 5%) {                                          
    color: $purpleColor;
    font-weight: bold;
    padding: $padding;
    border-radius: 8px;
    border: 2px solid $purpleColor;
    font-size: $fontSize;
}