.about {
    text-align: center;
    padding: 2% 0%;
    
    h1 {
        color: $purpleColor;
    }
    
    h2 {
        color: black;
        font-size: 2rem;
    }
    
    &>section {
        width: 55%;
        margin: 0 auto 5% auto;
        line-height: 2.5;

    }
}

// // .aboutSection {
// //     background-color: aqua;
// //     width: 100%;
// // }
// .about {
//     padding: 2% 0%;

//     @media screen and (max-width: 768px) {
//         padding: 5% 0%;
//     }

//     &__info {
//         display: grid;
//         align-items: center;
//         grid-template-columns: 1fr 0.5fr;

//         @media screen and (max-width: 768px) {
//             grid-template-columns: 1fr;
//             justify-items: center;
//         }

//         &--text {
//             text-align: start;
//             // background-color: aqua;
//             width: 90%;

//             @media screen and (max-width: 768px) {
//                 text-align: center;
//             }

//             span {
//                 font-weight: bold;
//             }
//         }
//     }
// }