.hero {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    height: calc(95vh - 80px);
    align-items: center;
    text-align: center;
    justify-content: space-between;

    h1 {
        font-size: clamp(2.5rem, 1.481vw + 2.167rem, 3.5rem);

        span {
            color: #8902FF;
        }
    }

    a {
        @include urlBtn($fontSize:1rem, $padding: 1%);
    }

    &__imageSection {
        width: 1000px;
        height: 521px;

        img {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: 640px) {
            width: 360px;
            height: 185px;
        }
    }
}