.contact-form {
    &__element {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            align-items: center;
            padding: 0% 0% 2% 0%;
        }

        &--form {
            display: flex;
            flex-direction: column;
            width: 100%;

            @media screen and (min-width: 768px) {
                flex-direction: column;
                width: 80%;
            }

            @media screen and (min-width: 1000px) {
                width: 55%;
            }

            p {
                text-align: center;
            }

            form {
                width: 100%;
                background-color: #ebebeb;
                box-sizing: border-box;
                padding: 3% 2%;
                border-radius: 6px;
                box-shadow: $itemShadow;
                position: relative;

                @media screen and (min-width: 768px) {
                    width: 90%;
                    padding-top: 5%;
                }

                .error-massege {
                    // color: red;
                    font-size: 16px;
                    width: fit-content;
                    background-color: white;
                    padding: 0.5% 2%;
                    border-radius: 5px;
                    height: fit-content;
                    position: absolute;
                    top: 5px;
                    right: 50%;
                }
            }

            .inputField {
                position: relative;

                p {
                    position: absolute;
                    font-size: 16px;
                    top: -25%;
                    color: red;
                    margin-right: 2.5%;
                }
            }

            input,
            select {
                box-sizing: border-box;
                width: 95%;
                margin: 3% 2.5%;
                padding: 5% 3%;
                font-size: 1.2rem;
                border: none;
                border-bottom: 1px solid black;
                background: none;

                @media screen and (min-width: 1000px) {
                    margin: 2% 2%;
                    padding: 3% 2.5%;
                }

                @media screen and (min-width: 1200px) {
                    margin: 2% 0%;
                    padding: 2.5% 2%;
                }

                &:focus {
                    background-color: none;
                    outline: none;
                }

                &::placeholder {
                    float: right;
                    color: black;
                }
            }

            button {
                margin: 10% 2%;
                position: relative;

                @media screen and (min-width: 768px) {
                    margin: 5% 2%;
                }
            }

            .form-btn {
                color: $purpleColor;
                font-weight: bold;
                width: 16vw;
                min-width: 200px;
                height: 53px;
                border-radius: 8px;
                border: 2px solid $purpleColor;
                font-size: 1.5rem;
            }

            .form-btn_active {
                // @include btn;
            }
        }

        &--image {
            max-width: 700px;

            @media screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 300px;
            }

            img {
                margin: 10% 0%;

                @media screen and (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
}