@mixin windowWidth ($winwidth: 1440px, $winMarg: 0 auto) {
    max-width: $winwidth;
    min-width: 320px;
    margin: $winMarg;

    @media screen and (max-width: 1440px) {
        width: 90%;
    }
}

@mixin urlBtn($fontSize:clamp(1.125rem, 0.179vw + 1.089rem, 1.25rem), $padding: 2% 5%) {                                          
    color: $purpleColor;
    font-weight: bold;
    padding: $padding;
    border-radius: 8px;
    border: 2px solid $purpleColor;
    font-size: $fontSize;
}

@mixin headersPurple($fontSizeHeader: 3.5rem) {
    font-weight: 200;
    background: $purpleColor;
    background: -webkit-linear-gradient(0deg, rgba(209, 0, 246, 1) 0%, rgba(137, 2, 255, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}